@import "dropzone";


@keyframes zoomOut {
  100% {
    transform: scale(0);
  }
}


.collection {
  flex-grow: 1;

  &__items {
    display: flex;
    margin-right: -0.75rem;
    flex-flow: row wrap;
  }

  &__item {

  }

  &.empty {
    // запрещаем перетаскивать файлы в пустой виджет
    .dropzone__overlay {
      display: none;
    }
  }

  &.loading {
    .sortable-handler {
      cursor: default;
    }
  }
}

// показ кнопки создания коллекции на пустом виджете
.collection:not(.empty) .collection__create-collection-button {
  display: none;
}

// скрытие остальных кнопок на пустом виджете
.collection.empty .collection__upload-item-button,
.collection.empty .collection__delete-collection-button {
  display: none;
}


.collection-item {
  margin-right: 0.75rem;
  margin-bottom: 1rem;
  flex: 0 0 auto;
  user-select: none;
  outline-offset: 1px;
  border-radius: 0.25rem;
  background-color: #f8f6f4;
  border: 1px solid #ced4da;
  box-sizing: content-box;

  &.sortable-ghost {
    opacity: 0.35;
    background-color: rgba(250, 226, 72, 0.65);
  }

  .sortable-handler {
    cursor: move;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid #ced4da;
  }

  &__footer {
    padding: .125rem;
    min-height: 35px;
    border-top: 1px solid #ced4da;
  }

  &__caption {
    flex: 1 0 0;
    padding: 0.125rem 0.25rem 0.125rem 0.5rem;
    overflow: hidden;
    font-size: 14px;
    align-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__preview {

  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__checkbox-holder {

  }

  &__checkbox {

  }

  &__delete-button,
  &__cancel-button {
    padding: .25rem .4375rem;
    font-size: 1rem;
    line-height: 1.375;
    text-decoration: none;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: #dae0e5;
    }
  }


  &.removing {
    animation: zoomOut cubic-bezier(0, 0, 0.2, 1) 0.4s forwards;

    .collection-item__footer {
      visibility: hidden;
    }
  }


  &.checked {
    border-color: #1090c0;
    box-shadow: 0 0 0 1px #1090c0;
  }


  &--preloader {
    .collection-item__preview {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.1s 0.3s;
        background-image: url(../img/preloader.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 0;
      background: transparent;
    }

    .progress-bar {
      width: 100%;
      height: 0;
      opacity: 0.5;
      align-self: flex-end;
      transition: opacity 0.1s 0.3s, height 0.3s ease;
    }

    &.processing {
      .collection-item__preview:after {
        opacity: 1;
      }

      .progress-bar {
        opacity: 0;
      }

      .collection-item__cancel-button {
        visibility: hidden;
      }
    }
  }


  &--file {
    .collection-item__preview {
      padding: 20px;
    }
  }
}
