@import "dropzone";


@keyframes zoomOut {
  100% {
    transform: scale(0);
  }
}

.collection-item {
  margin-right: 0.75rem;
  margin-bottom: 1rem;
  flex: 0 0 auto;
  user-select: none;
  outline-offset: 1px;
  border-radius: 0.25rem;
  background-color: #f8f6f4;
  border: 1px solid #ced4da;
  box-sizing: content-box;

  &.sortable-ghost {
    opacity: 0.35;
    background-color: rgba(250, 226, 72, 0.65);
  }

  .sortable-handler {
    cursor: move;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid #ced4da;
  }

  &__footer {
    padding: .125rem;
    min-height: 35px;
    border-top: 1px solid #ced4da;
  }

  &__caption {
    flex: 1 0 0;
    padding: 0.125rem 0.25rem 0.125rem 0.5rem;
    overflow: hidden;
    font-size: 14px;
    align-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__preview {

  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__checkbox-holder {

  }

  &__checkbox {

  }

  &__delete-button,
  &__cancel-button {
    padding: .25rem .4375rem;
    font-size: 1rem;
    line-height: 1.375;
    text-decoration: none;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: #dae0e5;
    }
  }


  &.checked {
    border-color: #1090c0;
    box-shadow: 0 0 0 1px #1090c0;
  }


  &--preloader &__preview,
  &--processing &__preview {
    position: relative;
  }

  &--preloader {
    .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 0;
      background: transparent;
    }

    .progress-bar {
      width: 100%;
      height: 0;
      opacity: 0.5;
      align-self: flex-end;
      transition: height 0.3s ease;
    }
  }


  &--processing {
    .progress {
      opacity: 0;
    }
  }

  &--processing &__preview {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 0.1s 0.3s;
      background-image: url(../img/preloader.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--processing &__cancel-button {
    visibility: hidden;
  }


  &--removing {
    animation: zoomOut cubic-bezier(0, 0, 0.2, 1) 0.4s forwards;
  }

  &--removing &__footer {
    visibility: hidden;
  }


  &--file &__preview {
    padding: 20px;
  }
}


.collection {
  flex-grow: 1;

  &__items {
    display: flex;
    margin-right: -0.75rem;
    flex-flow: row wrap;
  }

  &__skeleton {
    padding-top: 31px;      // header
    padding-bottom: 35px;   // footer
    margin-right: 0.75rem;
    margin-bottom: 1rem;
    flex: 0 0 auto;
    color: #e3e3e3;
    user-select: none;
    border-radius: 0.25rem;
    border: 1px solid currentColor;
    background-color: currentColor;
    box-sizing: content-box;
  }

  &__buttons {

  }


  &--empty &__items {
    display: none;
  }

  // запрещаем перетаскивать файлы в пустой виджет
  &--empty .dropzone__overlay {
    display: none;
  }

  // скрытие на пустом виджете всех кнопок, кроме кнопки создания коллекции
  &--empty &__buttons button:not(&__create-collection-button){
    display: none;
  }

  // показ кнопки создания коллекции только на пустом виджете
  &:not(&--empty) &__create-collection-button {
    display: none;
  }

  &--loading,
  &--removing {
    .sortable-handler {
      cursor: default;
    }
  }
}
