@import "dropzone";


@keyframes zoomOut {
  100% {
    transform: scale(0);
  }
}


.collection {
  &__items {
    display: flex;
    margin-right: -0.75rem;
    flex-flow: row wrap;
  }

  &__item {

  }

  &__help-text {
    margin-top: 6px;
  }

  &__kbd {
    padding-top: 0.3rem;
    color: inherit;
    font-size: 0.875em;
    line-height: inherit;
    background-color: #eaeaea;
  }

  &.empty {
    .dropzone-overlay {
      display: none;
    }
  }
}


.collection-item {
  margin-right: 0.75rem;
  margin-bottom: 1rem;
  flex: 0 0 auto;
  user-select: none;
  outline-offset: 1px;
  border-radius: 0.25rem;
  background-color: #f8f6f4;
  border: 1px solid #ced4da;
  box-sizing: content-box;

  &.sortable-ghost {
    opacity: 0.5;
  }

  .sortable-handler {
    cursor: move;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid #ced4da;
  }

  &__footer {
    padding: .125rem;
    min-height: 36px;
    border-top: 1px solid #ced4da;
  }

  &__name {
    flex: 1 0 0;
    padding: 0.125rem 0.25rem 0.125rem 0.5rem;
    overflow: hidden;
    font-size: 14px;
    align-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__preview {

  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__checkbox-holder {

  }

  &__checkbox {
    cursor: pointer;
    vertical-align: middle;
  }

  &__delete-button,
  &__cancel-button {
    padding: .25rem .4375rem;
    font-size: 1rem;
    line-height: 1.375;
    text-decoration: none;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: #dae0e5;
    }
  }


  &--checked {
    box-shadow: 0 0 3px 1px #007bff;
  }

  &--removing {
    animation: zoomOut cubic-bezier(0, 0, 0.2, 1) 0.4s forwards;

    .collection-item__footer {
      visibility: hidden;
    }
  }

  &--preloader {
    .collection-item__preview {
      position: relative;
    }

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 0;
      background: transparent;
    }

    .progress-bar {
      width: 100%;
      height: 0;
      opacity: 0.5;
      align-self: flex-end;
      transition: opacity 0.5s;
    }
  }

  &--processing {
    .collection-item__preview {
      background-image: url(../img/preloader.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    .collection-item__cancel-button {
      visibility: hidden;
    }
  }

  &--file {
    .collection-item__preview {
      padding: 20px;
    }
  }
}
