.file-uploader {
  max-width: 100%;
  flex-grow: 1;

  & + .related-links {
    display: none;
  }

  .form-control {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.2s 0s;
  }

  .file-info {
    font-size: 0.875em;
    font-weight: 300;
  }

  .progress {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.2s 0s;
  }

  &__ready-buttons,
  &__loading-buttons {
    display: flex;

    .input-group-text {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &--empty,
  &--loading,
  &--processing {
    .file-name,
    .file-info {
      display: none;
    }
  }

  &--empty,
  &--processing {
    .input-group > .form-control:not(:last-child) {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    .input-group-append {
      display: none;
    }
  }

  &--loading,
  &--processing {
    .progress {
      opacity: 0.5;
      transition: opacity 0s;
    }
  }

  &--loading {
    .form-control {
      background-color: #f5f5f5;
      transition: background-color 0s;
    }
  }

  &:not(&--loading) &__loading-buttons {
    display: none;
  }

  &:not(&--ready) &__ready-buttons {
    display: none;
  }
}
